<div class="local-alx-cdn-player-container">
    <div class="scorm-header">
        <h2>{{scorm_name}}</h2>
    </div>
    <div class="scorm-frame-wrapper">
        <iframe id="scorm_object" 
                src="{{iframe_src}}" 
                width="{{width}}" 
                height="{{height}}" 
                frameborder="0" 
                allowfullscreen="allowfullscreen" 
                webkitallowfullscreen="webkitallowfullscreen" 
                mozallowfullscreen="mozallowfullscreen">
        </iframe>
    </div>
    <div id="scorm-debug-log" style="display:none; border:1px solid #ccc; max-height: 200px; overflow:auto;"></div>
</div>
